body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    margin: 0;
    padding: 0;
}

#checkout, #confirmation {
    width: 80%;
    margin: 40px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.txt-heading {
    font-size: 1.5em;
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ddd;
}

p {
    font-size: 1.2em;
    color: #333;
    margin: 20px 0;
    margin-bottom:50px;
}

.btnContinueAction {
	margin-top:50px;
    background-color: #28a745;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
}

.btnContinueAction:hover {
    background-color: #218838;
}
